@model SearchCarInputModel
<form id="antiForgeryForm"></form>
<div id="collapseExample" class="col-lg-3">
    <aside class="l-sidebar">
        <div class="widget section-sidebar bg-light">
    <h3 class="widget-title bg-dark"><i class="ic flaticon-car-4"></i>Search for a car</h3>
            <div class="widget-content">
                <div class="widget-inner">
                    <form class="b-filter bg-light">
                        <div class="b-filter__main">
                            <div class="b-filter__row">
                                <div class="dropdown bootstrap-select show-tick" style="width: 100%;">
                                    <select id="manufacturers" asp-for="@Model.ManufacturerId" class="form-control mb-4" asp-items="@Model.ManufacturerItems" data-live-search="true">
                                        <option value="0">Select Make:</option>
                                    </select>
                                    <div class="dropdown-menu " role="combobox">
                                        <div class="inner show" role="listbox" aria-expanded="false" tabindex="-1">
                                            <ul class="dropdown-menu inner show"></ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="b-filter__row">
                                <div class="dropdown bootstrap-select show-tick" style="width: 100%;">
                                    <select id="models" asp-for="@Model.ModelId" class="form-control" data-live-search="true">
                                        <option value="0">Select Model:</option>
                                    </select>
                                    <div class="dropdown-menu " role="combobox">
                                        <div class="inner show" role="listbox" aria-expanded="false" tabindex="-1">
                                            <ul class="dropdown-menu inner show"></ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="b-filter__row">
                                <div class="dropdown bootstrap-select show-tick" style="width: 100%;">
                                    <select asp-for="@Model.AuctionId" asp-items="@Model.AuctionItems" class="form-control mt-4" data-live-search="true">
                                        <option value="0">Auction:</option>
                                    </select>
                                    <div class="dropdown-menu " role="combobox">
                                        <div class="inner show" role="listbox" aria-expanded="false" tabindex="-1">
                                            <ul class="dropdown-menu inner show"></ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="filter-option-inner-inner text-center">Price:</div>
                            <input type="range" class="form-control">
                        </div>
                        @* <div class="b-filter-slider ui-filter-slider"> *@
                        @*     <div class="b-filter-slider__title">Price</div> *@
                        @*     <div class="b-filter-slider__main"> *@
                        @*         <div id="filterPrice" class="noUi-target noUi-ltr noUi-horizontal"> *@
                        @*             <div class="noUi-base"> *@
                        @*                 <div class="noUi-connects"> *@
                        @*                     <div class="noUi-connect" style="transform: translate(2.04082%, 0px) scale(0.877551, 1);"></div> *@
                        @*                 </div> *@
                        @*                 <div class="noUi-origin" style="transform: translate(-97.9592%, 0px); z-index: 5;"> *@
                        @*                     <div class="noUi-handle noUi-handle-lower" data-handle="0" tabindex="0" role="slider" aria-orientation="horizontal" aria-valuemin="1000.0" aria-valuemax="45000.0" aria-valuenow="2000.0" aria-valuetext="$ 2,000"></div> *@
                        @*                 </div> *@
                        @*                 <div class="noUi-origin" style="transform: translate(-10.2041%, 0px); z-index: 4;"> *@
                        @*                     <div class="noUi-handle noUi-handle-upper" data-handle="1" tabindex="0" role="slider" aria-orientation="horizontal" aria-valuemin="2000.0" aria-valuemax="50000.0" aria-valuenow="45000.0" aria-valuetext="$ 45,000"></div> *@
                        @*                 </div> *@
                        @*             </div> *@
                        @*         </div> *@
                        @*         <div class="b-filter__row row"> *@
                        @*             <div class="b-filter__item col-md-6 col-lg-12 col-xl-6"> *@
                        @*                 <input class="ui-select" id="input-with-keypress-0"> *@
                        @*             </div> *@
                        @*             <div class="b-filter__item col-md-6 col-lg-12 col-xl-6"> *@
                        @*                 <input class="ui-select" id="input-with-keypress-1"> *@
                        @*             </div> *@
                        @*         </div> *@
                        @*     </div> *@
                        @* </div> *@
                        <a asp-action="All" class="b-filter__reset btn btn-default w-100" type="button">Reset Filters</a>
                        <button class="btn btn-primary w-100">Show results</button>
                    </form>
                </div>
            </div>
        </div>
</aside>
</div>
