@model CarAuction.Web.ViewModels.Cars.CarsListViewModel

@section Styles
{
    <link href="~/lib/nouislider/distribute/nouislider.min.css" rel="stylesheet" asp-append-version="true">
}

<!--Cars Start -->
<div class="container-fluid py-5">
<div class="container pt-5 pb-3">
<h1 class="display-4 text-uppercase text-center mb-5">Find Your Next Car</h1>
<div class="row">
@* Car search 2 *@
<partial name="SearchBar" model="@Model.SearchModel"/>
<partial name="DefaultCar" model="@Model"/>
@* @foreach (var car in Model.Cars) *@
@* { *@
@*                 $1$ <a asp-controller="Cars" asp-action="ById" asp-route-id="@car.Id"> #1# *@
@*     <div class="col-lg-4 col-md-6 mb-2"> *@
@*         <div class="rent-item mb4"> *@
@*             <img class="img--cover" src="@car.ImageUrl" alt=""> *@
@*             <h4 class="text-uppercase mb-4 text-center">@car.Title</h4> *@
@*             <div class="d-flex justify-content-center mb-4"> *@
@*                 <div class="px-2"> *@
@*                     <i class="fa-regular fa-calendar-days text-primary mr-1"></i> *@
@*                     <span>@car.ModelYearOfProduction</span> *@
@*                 </div> *@
@*                 <div class="px-2 border-left border-right"> *@
@*                     <i class="fa fa-cogs text-primary mr-1"></i> *@
@*                     <span>@car.ModelVehicleType.ToString()</span> *@
@*                 </div> *@
@*                 <div class="px-2"> *@
@*                     <i class="fa fa-road text-primary mr-1"></i> *@
@*                     <span>@car.Milleage</span> *@
@*                 </div> *@
@*                 <div class="px-2 border-left border-right"> *@
@*                     <i class="fa-sharp fa-solid fa-dollar-sign text-primary mr-1"></i> *@
@*                     <span>@car.StartingPrice</span> *@
@*                 </div> *@
@*                 <div class="px-2"> *@
@*                     <i class="fa-sharp fa-solid fa-location-dot text-primary mr-1"></i> *@
@*                     <span>@car.AuctionLocationName</span> *@
@*                 </div> *@
@*             </div> *@
@*             <a asp-controller="Cars" asp-action="ById" asp-route-id="@car.Id" class="btn btn-primary btn-md col-md-12 rounded"> View</a> *@
@*         </div> *@
@*     </div> *@
@* } *@
</div>
</div>
</div>
<!-- Rent A Car End -->
<!-- Pagination -->
<partial name="Pagination"/>
<!-- Pagination End -->
<div class="container-fluid">
    <vc:cars></vc:cars>
</div>
<form method="post" id="antiForgeryForm"></form>

@section Scripts
{
    <script type="text/javascript" src="~/lib/nouislider/distribute/nouislider.min.js"></script>
    <script src="~/js/dynamicModelLoader.js" asp-append-version="true"></script>
}