@using CarAuction.Common
@model SingleCarViewModel

@section Styles
{
    <link rel="stylesheet" href="~/lib/slick-carousel/slick.min.css" asp-append-version="true">
    <link rel="stylesheet" href="~/lib/fancyapps/ui/dist/fancybox.min.css" asp-append-version="true">
}

<div class="container-fluid pt-5">
    <div class="container pt-5 pb-3">
        @if (this.User.IsInRole(GlobalConstants.AdministratorRoleName) || @Model.IsAbleToEditAndDelete)
        {
            <div class="btn-transform transform-vertical">
                <div>
                    <a asp-controller="Cars" asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-light">
                        <i class="bi bi-pen-fill"></i> Edit
                    </a>
                </div>
            </div>
            <div class="btn-transform transform-vertical red mt-12">
                <button id="deleteBtn" data-toggle="modal" data-target="#deleteModal" class="btn btn-danger">
                    <i class="bi bi-trash3-fill"></i> Delete
                </button>
            </div>
        }
        <h1 class="display-4 text-uppercase mb-5 text-center">@Model.ModelManufacturerName @Model.ModelName</h1>
        <!-- Start -->
        <div id="mainCarousel" class="carousel w-10/12 max-w-5xl mx-auto">
            @foreach (var image in Model.Images)
            {
                <div class="carousel__slide" data-src="@image.PhotoUrl" data-fancybox="gallery">
                    <img class="img-fluid carousel__img" src="@image.PhotoUrl"/>
                </div>
            }
        </div>
        <!-- End-->
        @* </div> *@
        <div class="col-lg-6 mb-4">
            <div class="d-flex mb-3">
                <h6 class="mr-2">Rating:</h6>
                <div class="d-flex align-items-center justify-content-center mb-1">
                    <small class="fa fa-star text-primary mr-1"></small>
                    <small class="fa fa-star text-primary mr-1"></small>
                    <small class="fa fa-star text-primary mr-1"></small>
                    <small class="fa fa-star text-primary mr-1"></small>
                    <small class="fa fa-star-half-alt text-primary mr-1"></small>
                    <small>(250)</small>
                </div>
            </div>
            <div>
                <div class="container">
                    <div class="mapouter">
                         <span>Start date: @Model.Auction.StartDate.ToString("g")</span>
                        <span>End date: @Model.Auction.EndDate.ToString("g")</span>
                        <div class="gmap_canvas">
                            <iframe width="350" height="400" id="gmap_canvas" src="https://maps.google.com/maps?q=@Model.Auction.LocationName%20rich%20str&t=&z=17&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0">
                            </iframe>
                            <br>
                            <style>.mapouter{position:relative;text-align:right;height:500px;width:600px;}</style>
                            <style>.gmap_canvas {overflow:hidden;background:none!important;height:500px;width:600px;}</style>
                        </div>
                    </div>
                    <div class="number">
                        <span class="minus">-</span>
                        <input id="bidAmount" type="text" value="@Model.StartingPrice"/>
                        <span class="plus">+</span>
                        <button id="bidBtn" class="btn btn-success">Place bid</button>
                        @if (Model.Bids.Any())
                        {
                            <table id="bidsTable" class=" col-12 table table-striped">
                                <span>Bids:</span>
                                <thead>
                                <tr>
                                    <th scope="col">UserName</th>
                                    <th scope="col">Amount</th>
                                    <th scope="col">Bidded on</th>
                                </tr>
                                </thead>
                                <tbody id="tableBodyBids">
                                @foreach (var bid in Model.Bids.OrderByDescending(x => x.CreatedOn))
                                {
                                    <tr>
                                        <th scope="row">@bid.UserName</th>
                                        <td>@bid.AmountOfBid</td>
                                        <td>@bid.CreatedOn</td>
                                    </tr>
                                }
                                </tbody>
                            </table>
                        }
                    </div>
                </div>
                @if (Model.BuyNowPrice != null)
                {
                    <a class="btn btn-success">Buy it now!</a>
                }
            </div>
            <p>Tempor erat elitr at rebum at at clita aliquyam consetetur. Diam dolor diam ipsum et, tempor voluptua sit consetetur sit. Aliquyam diam amet diam et eos sadipscing labore. Clita erat ipsum et lorem et sit, sed stet no labore lorem sit. Sanctus clita duo justo et tempor consetetur takimata eirmod, dolores takimata consetetur invidunt</p>
            <h4 class="mb-2">Bid starting price: @Model.StartingPrice</h4>
        </div>
    </div>
    <div class="row mt-n3 mt-lg-0 pb-4">
        <div class="col-md-3 col-6 mb-2">
            <i class="fa-regular fa-calendar-days text-primary mr-2"></i>
            <span>@Model.ModelYearOfProduction</span>
        </div>
        <div class="col-md-3 col-6 mb-2">
            <i class="fa fa-cogs text-primary mr-2"></i>
            <span>@Model.ModelEngineTransmissionType</span>
        </div>
        <div class="col-md-3 col-6 mb-2">
            <i class="fa-solid fa-droplet text-primary mr-2"></i>
            <span>@Model.Color</span>
        </div>
        <div class="col-md-3 col-6 mb-2">
            <i class="fa-solid fa-horse text-primary mr-2"></i>
            <span>@Model.ModelEngineHorsePower hp</span>
        </div>
        <div class="col-md-3 col-3 mb-2">
            <i class="fa-solid fa-road text-primary mr-2"></i>
            <span>@Model.Milleage</span>
        </div>
        <div class="col-md-3 col-3 mb-2">
            <i class="fa fa-cogs text-primary mr-2"></i>
            <span>@Model.ModelDrivetrain</span>
        </div>
        <div class="col-md-3 col-3 mb-2">
            <i class="fa-solid fa-gas-pump text-primary mr-2"></i>
            <span>@Model.ModelEngineFuelType</span>
        </div>
    </div>
</div>
<div class="modal" id="deleteModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Listing delete</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Do you want to delete @Model.ModelManufacturerName?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                <form method="post">
                    <button asp-action="Delete" asp-route-id="@Model.Id" type="submit" class="btn btn-danger">Delete</button>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <script src="~/lib/fancyapps/ui/dist/fancybox.umd.js" asp-append-version="true"></script>
    <script>
    // Initialise Carousel
    const mainCarousel = new Carousel(document.querySelector("#mainCarousel"), {
      Dots: false,
    });
    </script>
    <script asp-append-version="true">
    	$(document).ready(function() {
    			 $('.minus').click(function () {
    				var $input = $(this).parent().find('input');
                    if (parseInt($input.val()) > @Model.StartingPrice){
                       $('.minus').css({ pointerEvents: "none" });
                    }
    				var count = parseInt($input.val()) - 300;
    				count = count < 1 ? 1 : count;
    				$input.val(count);
    				$input.change();
    				return false;
    			});
    			$('.plus').click(function () {
    				var $input = $(this).parent().find('input');
    				$input.val(parseInt($input.val()) + 300);
    				$input.change();
    				return false;
    			});
    		});
    </script>
    
    <script asp-append-version="true">
        
        const connection = new signalR
        .HubConnectionBuilder()
        .withUrl("/bid")
        .build();
    
        connection.on("NewBid",
        function (bid){
        $("#bidAmount").val(bid.amountOfBid);
        $("#tableBodyBids").prepend(`<tr><th scope="row">${bid.userName}</th><td>${bid.amountOfBid}</td><td>${bid.createdOn}</td></tr>`);
    });
    
        $("#bidBtn").click(function (e){
        e.preventDefault();
        var amount = $("#bidAmount").val();
        connection.invoke("Send",parseFloat(amount), @Model.Id);    
    });
    
        connection.start().catch(function (err) {
        return console.error(err.toString());
    });
        
    </script>
}