@model RandomCarsViewModel

 <!-- Related Car Start -->
    <div class="container-fluid pb-5">
        <div class="container pb-5">
            <h2 class="mb-4 text-center">Featured Cars</h2>
            <div class="owl-carousel related-carousel position-relative" style="padding: 0 30px;">
                @foreach (var car in Model.Cars)
                {
                    <div class="rent-item">
                        <img class="img-fluid mb-4" src="@car.ImageUrl" alt="">
                        <h4 class="text-uppercase mb-4">@car.Title</h4>
                        <div class="d-flex justify-content-center mb-4">
                            <div class="px-2">
                                <i class="fa fa-car text-primary mr-1"></i>
                                <span>@car.ModelYearOfProduction</span>
                            </div>
                            <div class="px-2 border-left border-right">
                                <i class="fa fa-cogs text-primary mr-1"></i>
                                <span>@car.ModelVehicleType</span>
                            </div>
                            <div class="px-2">
                                <i class="fa fa-road text-primary mr-1"></i>
                                <span>@car.Milleage</span>
                            </div>
                        </div>
                        <a class="btn btn-primary px-3" href="">$@car.BuyNowPrice</a>
                    </div>
                }
            </div>
        </div>
    </div>
    <!-- Related Car End -->

